
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
 
}
.tab{
 -fx-background-color: #dcbcff;
 
 
}

.tab-pane {

-fx-tab-min-height:100px;
-fx-tab-min-width:90px;
 
-fx-background-color: #fef0f4;
}





#about .tab-label{
	-fx-text-fill: black;
	


}

#about .tab-label{
-fx-font-family: impact;

}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: Verdana; 
-fx-rotate: 90; 
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
   
 -fx-text-fill: black; 
 
}


.tab-pane .tab:selected
{
    -fx-background-color: #a756ff;

}


